@model EduApp.Models.EditarLecturaModel

@{
    ViewBag.Title = "AddLectura";
    Layout = "~/Views/Shared/teacher_Layout.cshtml";
}

<div id="app">

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Añadir Lectura</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Actividades</li>
                                <li class="breadcrumb-item active" aria-current="page">@Html.ActionLink("Lectura", "ActividadesLectura", "Docente")</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section id="content-types">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    @Html.LabelFor(model => model.actividad.TITULO, "Título", htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.EditorFor(model => model.actividad.TITULO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.actividad.TITULO, "", new { @class = "text-danger" })
                                    <br />


                                    @Html.LabelFor(model => model.actividad.FECHA_LIMITE, "Fecha Límite", htmlAttributes: new { @class = "control-label col-md-6" })
                                    @Html.EditorFor(model => model.actividad.FECHA_LIMITE, new { htmlAttributes = new { type = "datetime-local", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.actividad.FECHA_LIMITE, "", new { @class = "text-danger" })
                                    <br />

                                    @Html.LabelFor(model => model.actividad.ID_CURSO, "Curso", htmlAttributes: new { @class = "control-label col-md-6" })
                                    @Html.DropDownListFor(x => Model.actividad.ID_CURSO, (Model.cursos), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.actividad.ID_CURSO, "", new { @class = "text-danger" })
                                    <br />

                                    @Html.LabelFor(model => model.actividad.ID_COMPETENCIA, "Competencia", htmlAttributes: new { @class = "control-label col-md-6" })
                                    @Html.DropDownListFor(x => Model.actividad.ID_COMPETENCIA, (Model.competencias), htmlAttributes: new { @id = "competencia", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.actividad.ID_COMPETENCIA, "", new { @class = "text-danger" })

                                    <br />
                                    <div class="card-footer">
                                        <h4 class="text-body">Detalle actividad</h4>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>

                                        <br />
                                        @Html.LabelFor(model => model.actividad.ARCHIVO, "Archivo", htmlAttributes: new { @class = "control-label col-md-6" })
                                        @Html.TextBoxFor(x => Model.actividad.ARCHIVO, htmlAttributes: new { type = "file", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.actividad.ARCHIVO, "", new { @class = "text-danger" })
                                    </div>

                                    <br />
                                    <!--Espeicficaciones-->
                                    <div class="d-flex w-100 justify-content-between">
                                        <span class="badge bg-primary">
                                            Preguntas <span class="badge bg-transparent"></span>
                                        </span>
                                        <button id="nuevapregunta" class="btn btn-info">Agregar Pregunta</button>
                                    </div>

                                    <br />
                                    <!---Preguntas-->

                                    <ul id="container" class="list-group list-group-flush">
                                        <!---ITEM CON ALTERNATIVAS--->
                                        <li id="mainsection" class="list-group-item">
                                            <h5>Pregunta</h5>
                                            <div class="d-flex w-100 justify-content-between">
                                                <!--Pregunta-->
                                                <div class="col-md-12">
                                                    <div class="form-group row align-items-center">
                                                        <div class="col-lg-2 col-3">
                                                            <label class="col-form-label">Pregunta</label>
                                                        </div>
                                                        <div class="col-lg-10 col-9">
                                                            <input type="text" id="first-name" class="form-control" name="fname" placeholder="Pregunta" value=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <!---Tipo-->
                                                <div class="col-md-12">
                                                    <div class="form-group row align-items-center">
                                                        <div class="col-lg-2 col-3">
                                                            <label class="col-form-label">Tipo </label>
                                                        </div>
                                                        <div class="col-lg-8 col-7">
                                                            <select id="tipoopcion" class="choices form-select">
                                                                <option value="1">Opción Múltiple</option>
                                                                <option value="2">Pregunta Abierta</option>
                                                                <option value="3">Pregunta única</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex w-100 justify-content-between">
                                                <!---Tipo-->
                                                <div class="col-md-6">
                                                    <div class="form-group row align-items-center">
                                                        <div class="col-lg-4 col-5">
                                                            <label class="col-form-label">Respuesta </label>
                                                        </div>
                                                        <div class="col-lg-7 col-6">
                                                            <input type="text" name="respuesta" id="respuesta" class="form-control" placeholder="Pregunta" value="1">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group row align-items-center">
                                                        <div class="col-lg-4 col-5">
                                                            <label class="col-form-label">Alternativas </label>
                                                        </div>
                                                        <div class="col-lg-8 col-7">
                                                            <input type="text" name="alternativas" id="alternativas" class="form-control" placeholder="Pregunta" value="1,5,4,6">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="card-footer">
                                        <a href="#" class="btn icon icon-left btn-secondary"><i data-feather="edit"></i> Crear Lectura</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.getElementById("nuevapregunta").onclick = function () {
            var container = document.getElementById("container");
            var section = document.getElementById("mainsection");
            container.appendChild(section.cloneNode(true));
        }

        $("#tipoopcion").change(function () {
            if ($(this).val() == "2") {
                $("#alternativas").prop("disabled", true);
                $("#respuesta").prop("disabled", true);
            } else if ($(this).val() == "3") {
                $("#respuesta").prop("disabled", false);
                $("#alternativas").prop("disabled", true);
            } else if ($(this).val() == "1") {
                $("#alternativas").prop("disabled", false);
                $("#respuesta").prop("disabled", false);
            }
        }).trigger("change");
    </script>
}
