@model EduApp.Models.EditarActividadModel

@{
    ViewBag.Title = "EditarForo";
    Layout = "~/Views/Shared/teacher_Layout.cshtml";
}


<div id="app">

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Editar Foro</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Actividades</li>
                                <li class="breadcrumb-item active" aria-current="page">@Html.ActionLink("Foro", "ActividadesForos", "Docente")</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <section class="section">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Foro</h4>
                            @Html.LabelFor(model => model.actividad.TITULO, "Título",htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.actividad.TITULO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.actividad.TITULO, "", new { @class = "text-danger" })

                        </div>
                        <div class="card-body">
                            <div class="row">
                                @Html.LabelFor(model => model.actividad.FECHA_LIMITE, "Fecha Límite",htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.EditorFor(model => model.actividad.FECHA_LIMITE,new { htmlAttributes = new { type = "datetime-local", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.actividad.FECHA_LIMITE, "", new { @class = "text-danger" })
                            </div>

                            <div class="row">
                                @Html.LabelFor(model => model.actividad.ID_CURSO, "Curso", htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.DropDownListFor(x=> Model.actividad.ID_CURSO, (Model.cursos), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.actividad.ID_CURSO, "", new { @class = "text-danger" })

                            </div>

                            <div class="row">
                                @Html.LabelFor(model => model.actividad, "Competencia", htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.DropDownListFor(x=> Model.actividad.ID_COMPETENCIA, (Model.competencias), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.actividad, "", new { @class = "text-danger" })

                            </div>

                            <br />
                            <div id="editor">
                                @Model.actividad.DESCRIPCION
                            </div>
                        </div>


                        <div class="card-footer">
                            <a href="#" class="btn icon icon-left btn-success"><i data-feather="edit"></i> Actualizar</a>
                        </div>

                    </div>
                </div>
            </div>
            }
        </section>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <script src="~/Content/js/pages/ckeditor.js"></script>


}
