@model EduApp.Models.ViewModels.COMPETENCIA

@{
    ViewBag.Title = "DetalleCurso";
    Layout = "~/Views/Shared/teacher_Layout.cshtml";
}

<div id="app">
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Detalle Competencia</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Docente")</li>
                                <li class="breadcrumb-item active" aria-current="page">@Html.ActionLink("Competencias", "CursosCompetencias", "Docente")</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    @Html.HiddenFor(model => model.ID_COMPETENCIA)
                                    <h4 class="card-title">@Html.DisplayFor(model => model.NOMBRE)</h4>
                                    <p class="card-text">
                                        @Model.DETALLE
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-md-8 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Capacidades que evidencia un alumno que logra desarrollar esta competencia</h4>
                            </div>
                            <div class="card-body">
                                @foreach (var item in Model.CAPACIDADES)
                                {
                                    <p class="text-body">* @item.DESCRIPCION</p>
                                }

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>


