@model IEnumerable<EduApp.Models.ViewModels.COMPETENCIA>


@{
    ViewBag.Title = "Competencias";
    Layout = "~/Views/Shared/teacher_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">

}

<div id="app">

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Competencias</h3>
                        <p class="text-subtitle text-muted">Lista de Competencias</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">@Html.ActionLink("Curso", "CursosCompetencias", "Docente")</li>
                                <li class="breadcrumb-item active" aria-current="page">Competencias</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Basic Tables start -->
            <section class="section">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Alias</th>
                                        <th>Curso</th>
                                        <th>Detalle</th>
                                        @*<th>Acción</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("ShowCompetencia", "Docente", new { id=item.ID_COMPETENCIA})">@Html.DisplayFor(modelItem => item.NOMBRE)</a></td>
                                            <td>@Html.DisplayFor(modelItem => item.ALIAS)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CURSOS.NOMBRE)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DETALLE)</td>
                                            @*<td>
                                                <a href="@Url.Action("EditarCompetencia", "Docente", new { id=item.ID_COMPETENCIA})" class="btn icon icon-left btn-secondary"><i data-feather="edit"></i></a>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>