@model EduApp.Models.DocenteIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/teacher_Layout.cshtml";
}


<!---CUERPO-->
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <h3>Hola @Html.DisplayFor(model => model.docente.NOMBRES) </h3>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon purple mb-2">
                                            <i class="iconly-boldDocument"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Actividades Creadas</h6>
                                        <h6 class="font-extrabold mb-0">@Html.DisplayFor(model => model.actividadesCreadas)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon blue mb-2">
                                            <i class="iconly-boldTick-Square"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Actividades Completadas</h6>
                                        <h6 class="font-extrabold mb-0">@Html.DisplayFor(model => model.actividadesCompletadas)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon green mb-2">
                                            <i class="iconly-boldUser"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Cantidad Estudiantes</h6>
                                        <h6 class="font-extrabold mb-0">@Html.DisplayFor(model => model.estudiantes)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon red mb-2">
                                            <i class="iconly-boldCategory"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Cantidad Competencias</h6>
                                        <h6 class="font-extrabold mb-0">@Html.DisplayFor(model => model.competencias)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-8 mb-1">
                                        <h4>Avance de Competencias</h4>
                                    </div>

                                    <div class="col-lg-4 mb-1">
                                        <div class="form-group">
                                            <select id="avanceCompetencias" class="choices form-select">
                                                <option value="">Cursos</option>
                                                @foreach (var curso in Model.cursos)
                                                {
                                                    <option value="@curso.ID_CURSO">@curso.NOMBRE</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="chart-avance-competencias"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>Avance de Actividades</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex align-items-center">
                                            <svg class="bi text-primary" width="32" height="32" fill="blue"
                                                 style="width:10px">
                                                <use xlink:href="~/Content/images/bootstrap-icons.svg#circle-fill" />
                                            </svg>
                                            <h5 class="mb-0 ms-3">Foros</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="mb-0"></h5>
                                    </div>
                                    <div class="col-12">
                                        <div id="chart-foro"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex align-items-center">
                                            <svg class="bi text-success" width="32" height="32" fill="blue"
                                                 style="width:10px">
                                                <use xlink:href="~/Content/images/bootstrap-icons.svg#circle-fill" />
                                            </svg>
                                            <h5 class="mb-0 ms-3">Lectura</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="mb-0">3</h5>
                                    </div>
                                    <div class="col-12">
                                        <div id="chart-lectura"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex align-items-center">
                                            <svg class="bi text-danger" width="32" height="32" fill="blue"
                                                 style="width:10px">
                                                <use xlink:href="~/Content/images/bootstrap-icons.svg#circle-fill" />
                                            </svg>
                                            <h5 class="mb-0 ms-3">Test</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="mb-0">10</h5>
                                    </div>
                                    <div class="col-12">
                                        <div id="chart-test"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h4>Últimas actividades Creadas</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-lg">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Descripcion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var actividad in Model.ultimasactividades)
                                            {
                                                <tr>
                                                    <td class="col-3">
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar avatar-md">
                                                                <?xml version="1.0" encoding="utf-8" ?>
                                                                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><g id="Frames-24px">	<rect fill="none" width="24" height="24" /></g><g id="Outline">	<g>		<rect x="7" y="13" fill="#757575" width="10" height="2" />		<rect x="7" y="9" fill="#757575" width="8" height="2" />		<rect x="7" y="17" fill="#757575" width="10" height="2" />		<path fill="#757575" d="M19,2h-2V1c0-0.552-0.448-1-1-1s-1,0.448-1,1v1h-2V1c0-0.552-0.448-1-1-1s-1,0.448-1,1v1H9V1			c0-0.552-0.448-1-1-1S7,0.448,7,1v1H5C3.897,2,3,2.896,3,4v18c0,1.103,0.897,2,2,2h14c1.103,0,2-0.897,2-2V4			C21,2.896,20.103,2,19,2z M5,22V4h2v1c0,0.553,0.448,1,1,1s1-0.447,1-1V4h2v1c0,0.553,0.448,1,1,1s1-0.447,1-1V4h2v1			c0,0.553,0.448,1,1,1s1-0.447,1-1V4h2l0.001,18H5z" />	</g></g></svg>
                                                            </div>
                                                            <p class="font-bold ms-3 mb-0">@actividad.TIPO_ACTIVIDAD.NOMBRE</p>
                                                        </div>
                                                    </td>
                                                    <td class="col-auto">
                                                        <p class=" mb-0">@actividad.DESCRIPCION</p>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-body py-4 px-4">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl">
                                <img src="~/Content/images/Docentes/Docente1.jpg" alt="Face 1">
                            </div>
                            <div class="ms-3 name">
                                <h5 class="font-bold">@Html.DisplayFor(model => model.docente.APELLIDO_PATERNO) @Html.DisplayFor(model => model.docente.APELLIDO_MATERNO)</h5>
                                <h6 class="text-muted mb-0"> @Html.DisplayFor(model => model.docente.NOMBRES)</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Alumnos Necesitantes de ayuda</h4>
                    </div>
                    <div class="card-content pb-4">

                        @foreach (var alumno in Model.alumnosayuda)
                        {

                            <div class="recent-message d-flex px-4 py-3">
                                <div class="avatar avatar-lg">
                                    @if (alumno.SEXO == "F")
                                    {
                                        <img src="~/Content/images/Alumnos/m1.png">
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/Alumnos/h1.png">
                                    }

                                </div>
                                <div class="name ms-4">
                                    <h5 class="mb-1">@alumno.APELLIDO_PATERNO @alumno.APELLIDO_MATERNO</h5>
                                    <h6 class="text-muted mb-0">@alumno.NOMBRES</h6>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-8 mb-1">
                                <h4>Notas de últimas actividades</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mb-1">
                                <div class="form-group">
                                    <select id="notas" class="choices form-select">
                                        @foreach (var actividad in Model.ListActividades)
                                        {
                                            <option value="@actividad.ID_TIPO_ACTIVIDAD">@actividad.NOMBRE</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chart-notas"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

@section Scripts
{

    @Scripts.Render("~/Docente/Dashoard/js");

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        let optionsNotas = {
            series: [9, 7, 5, 6],
            labels: ['AD', 'A', 'B', 'C'],
            colors: ['#5ddab4', '#435ebe', '#55c6e8', '#ff7976'],
            chart: {
                type: 'donut',
                width: '100%',
                height: '350px'
            },
            legend: {
                position: 'bottom'
            },
            plotOptions: {
                pie: {
                    donut: {
                        size: '30%'
                    }
                }
            }
        }


        //Avance de Notas
        var chartNotas = new ApexCharts(document.getElementById('chart-notas'), optionsNotas);
        chartNotas.render();


        /*$('actividad-notas').change(function () {
            var uid = this.value;
            $.ajax({
                url: '/Docente/GetChartNotasIndex',
                type: 'GET',
                data: { IdTipoActividad: uid },
                success: function (result) {
                    alert('mnne');
                }
            });
        });*/

        const tipo = document.getElementById('notas');
        tipo.addEventListener('change', getDatosTipo);


        window.onload = function () {
            var el = document.getElementsByName('notas')[0];
            el.value = 1; //Set default value
            el.onchange(); //trigger onchange event
        }

        function getDatosTipo() {
            /*chartNotas.updateSeries([
                {
                    data: [10, 2, 7, 8]
                }
            ]);*/

            $.post("/Docente/GetChartNotasIndex",
                { IdTipoActividad: tipo.value },
                function (response) {
                    chartNotas.updateOptions({
                        series: response,
                        labels: ['AD', 'A', 'B', 'C'],
                        colors: ['#5ddab4', '#435ebe', '#55c6e8', '#ff7976'],
                        chart: {
                            type: 'donut',
                            width: '100%',
                            height: '350px'
                        },
                        legend: {
                            position: 'bottom'
                        },
                        plotOptions: {
                            pie: {
                                donut: {
                                    size: '30%'
                                }
                            }
                        }
                    })
                }
            );


        }





        //Avance Competencias
        var optionsAvanceCompetencias = {
            annotations: {
                position: 'back'
            },
            dataLabels: {
                enabled: false
            },
            chart: {
                type: 'bar',
                height: 300
            },
            fill: {
                opacity: 1
            },
            plotOptions: {
            },
            series: [{
                name: 'Alumnos',
                data: [9, 20, 30, 20, 10, 20]
            }],
            colors: '#435ebe',
            xaxis: {
                categories: ["Competencia 1", "Competencia 2", "Competencia 3", "Competencia 4", "Competencia 5", "Competencia 6"],
            },
        }

        //AVANCE DE COMPETENCIAS
        var chartAvanceCompetencias = new ApexCharts(document.querySelector("#chart-avance-competencias"), optionsAvanceCompetencias);
        chartAvanceCompetencias.render();


        const curso = document.getElementById('avanceCompetencias');
        curso.addEventListener('change', getDatosCompetencias);


        function getDatosCompetencias() {
            $.post("/Docente/GetChartCompetenciasIndex",
                { IdCurso: curso.value },
                function (response) {
                    chartAvanceCompetencias.updateOptions({
                        annotations: {
                            position: 'back'
                        },
                        dataLabels: {
                            enabled: false
                        },
                        chart: {
                            type: 'bar',
                            height: 300
                        },
                        fill: {
                            opacity: 1
                        },
                        plotOptions: {
                        },
                        series: [{
                            name: 'Alumnos',
                            data: response.data
                        }],
                        colors: '#435ebe',
                        xaxis: {
                            categories: response.labels,
                        },
                    })
                }
            );
        }
    </script>

}
