@model EduApp.Models.ViewModels.AlumnoIndexModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/students_Layout.cshtml";
}

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <h3>Hola @Html.DisplayFor(model => model.alumno.NOMBRES) @Html.DisplayFor(model => model.alumno.APELLIDO_PATERNO)</h3>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon purple mb-2">
                                            <i class="iconly-boldDocument"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Actividades Realizadas</h6>
                                        <h6 class="font-extrabold mb-0">@Model.actividadesRealizadas</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon blue mb-2">
                                            <i class="iconly-boldTick-Square"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Actividades Pendientes</h6>
                                        <h6 class="font-extrabold mb-0">@Model.actividadesPendientes</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon green mb-2">
                                            <i class="iconly-boldUser"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Competencias Alcanzadas</h6>
                                        <h6 class="font-extrabold mb-0">@Model.competenciasAlcanzadas</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon red mb-2">
                                            <i class="iconly-boldCategory"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Competencias No Alcanzadas</h6>
                                        <h6 class="font-extrabold mb-0">@Model.competenciasNoAlcanzadas</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-body py-4 px-4">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl">
                                @if (@Model.alumno.SEXO == "F")
                                {
                                    <img src="~/Content/images/Alumnos/m2.png">
                                }
                                else
                                {
                                    <img src="~/Content/images/Alumnos/h2.png">
                                }
                            </div>
                            <div class="ms-3 name">
                                <h5 class="font-bold">@Model.alumno.APELLIDO_PATERNO @Model.alumno.APELLIDO_MATERNO</h5>
                                <h6 class="text-muted mb-0">@Model.alumno.NOMBRES</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4>Avance de Competencias</h4>
                            </div>

                            <div class="col-lg-5">
                                <div class="form-group">
                                    <select class="choices form-select">
                                        <option value="">Cursos</option>
                                        @foreach (var curso in Model.cursos)
                                        {
                                            <option value="@curso.ID_CURSO">@curso.NOMBRE</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chart-avance-competencias"></div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Últimos Comentarios</h4>
                    </div>
                    <div class="card-content pb-4">
                        @foreach (var item in Model.actividad)
                        {
                            <div class="recent-message d-flex px-4 py-3">
                                <div class="name ms-4">
                                    <h5 class="mb-1">@item.ACTIVIDAD.TIPO_ACTIVIDAD.NOMBRE</h5>
                                    <h6 class="text-muted mb-0">@item.COMENTARIO</h6>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4>Progreso de Aprendizajes</h4>
                </div>
                <div class="card-body">
                    <div class="progress progress-primary  mb-4">
                        <div class="progress-bar progress-label" role="progressbar" style="width: 35%" aria-valuenow="35"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-secondary  mb-4">
                        <div class="progress-bar progress-label" role="progressbar" style="width: 25%" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-warning  mb-4">
                        <div class="progress-bar progress-label" role="progressbar" style="width: 50%" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-danger  mb-4">
                        <div class="progress-bar progress-label" role="progressbar" style="width: 40%" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-dark  mb-4">
                        <div class="progress-bar progress-label" role="progressbar" style="width: 75%" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-info  mb-4">
                        <div class="progress-bar progress-label" role="progressbar" style="width: 88%" aria-valuenow="88"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/Docente/Dashoard/js");

    <script>
        //Avance Competencias
        var optionsAvanceCompetencias = {
            annotations: {
                position: 'back'
            },
            dataLabels: {
                enabled: false
            },
            chart: {
                type: 'bar',
                height: 300
            },
            fill: {
                opacity: 1
            },
            plotOptions: {
            },
            series: [{
                name: 'Alcanzados',
                data: [0, 0, 0, 0, 0, 0]
            }],
            colors: '#435ebe',
            xaxis: {
                categories: ["Competencia 1", "Competencia 2", "Competencia 3", "Competencia 4", "Competencia 5", "Competencia 6"],
            },
        }

        //AVANCE DE COMPETENCIAS
        var chartAvanceCompetencias = new ApexCharts(document.querySelector("#chart-avance-competencias"), optionsAvanceCompetencias);
        chartAvanceCompetencias.render();


        const curso = document.getElementById('avanceCompetencias');
        curso.addEventListener('change', getDatosCompetencias);


        function getDatosCompetencias() {
            $.post("/Docente/GetChartCompetenciasIndex",
                { IdCurso: curso.value },
                function (response) {
                    chartAvanceCompetencias.updateOptions({
                        annotations: {
                            position: 'back'
                        },
                        dataLabels: {
                            enabled: false
                        },
                        chart: {
                            type: 'bar',
                            height: 300
                        },
                        fill: {
                            opacity: 1
                        },
                        plotOptions: {
                        },
                        series: [{
                            name: 'Alcanzados',
                            data: response.data
                        }],
                        colors: '#435ebe',
                        xaxis: {
                            categories: response.labels,
                        },
                    })
                }
            );
        }
    </script>
}
